.podcastContainer {
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  background-image: url('../../../public/assets/noImage.jpg');
}

.podcastImage {
  width: 100%;
  display: block;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  object-position: center;
  object-fit: cover;
}
