.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
    padding-bottom: 0,5rem;

}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:  1rem;
}

.logoContainer > img{
    width:  2rem;
    height: auto;
}