.banner {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}
.banner img {
  width: 30%;
  height: auto;
  background-image: url('../../../public/assets/noImage.jpg');
  border-radius: 1rem; 
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
}